This notebook aim to create an `actual` timeline,
so that frames from two video file can refer to created the timeline
to find the real index between frames

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import datetime

In [2]:
df_t1 = pd.read_csv('csv/timestamp0.csv', delimiter=', ')
df_t2 = pd.read_csv('csv/timestamp1.csv', delimiter=', ')

<ipython-input-2-99f9a718bc21>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_t1 = pd.read_csv('csv/timestamp0.csv', delimiter=', ')
<ipython-input-2-99f9a718bc21>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_t2 = pd.read_csv('csv/timestamp1.csv', delimiter=', ')

# utils

In [3]:
from IPython.display import display_html

def df_display_beside(dfs, names=[]):
    html_str = ''
    if names:
        html_str += ('<tr>' + 
                     ''.join(f'<td style="text-align:center">{name}</td>' for name in names) + 
                     '</tr>')
    html_str += ('<tr>' + 
                 ''.join(f'<td style="vertical-align:top"> {df.to_html(index=False)}</td>' 
                         for df in dfs) + 
                 '</tr>')
    html_str = f'<table>{html_str}</table>'
    html_str = html_str.replace('table','table style="display:inline"')
    display_html(html_str, raw=True)

# preview

In [4]:
df_display_beside([df_t1.head(), df_t2.head()])

Frame Number,Date,Timestamp
1,2022-02-17,12:47:36.906517
2,2022-02-17,12:47:36.933530
3,2022-02-17,12:47:36.963524
4,2022-02-17,12:47:36.993520
5,2022-02-17,12:47:36.996522
Frame Number,Date,Timestamp
1,2022-02-17,12:47:36.672518
2,2022-02-17,12:47:36.771523
3,2022-02-17,12:47:36.778519
4,2022-02-17,12:47:36.785522
5,2022-02-17,12:47:36.816532

In [5]:
df_display_beside([df_t1.tail(), df_t2.tail()])

Frame Number,Date,Timestamp
182,2022-02-17,12:47:42.834635
183,2022-02-17,12:47:42.865633
184,2022-02-17,12:47:42.896638
185,2022-02-17,12:47:42.929654
186,2022-02-17,12:47:42.960634
Frame Number,Date,Timestamp
201,2022-02-17,12:47:43.360637
202,2022-02-17,12:47:43.387632
203,2022-02-17,12:47:43.419632
204,2022-02-17,12:47:43.483635
205,2022-02-17,12:47:43.516639

In [6]:
def df_set_time(df, time_col='Timestamp', time_format='%H:%M:%S.%f'):
    df[time_col] = pd.to_datetime(df[time_col], format=time_format).dt.time

def df_set_date(df, date_col='Date', time_format='%Y-%m-%d'):
    df[date_col] = pd.to_datetime(df[date_col], format=time_format).dt.date

time_col ='Timestamp'
date_col='Date'


def df_set_datetime(df, dt_cols=['Timestamp', 'Date'], time_format='%Y-%m-%d %H:%M:%S.%f'):
    # df[]
    df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Timestamp'], format=time_format)
    # pd.to_datetime(df['datetime'], format=time_format)
    #col for col in df[dt_cols] df[dt_cols]
    # return df[dt_cols]


df_set_datetime(df_t1)
df_set_datetime(df_t2)

In [7]:
def time_diff_next_frame(df, dt_col='datetime', format='seconds'):
    if format not in ['seconds', 'microseconds']:
        raise ValueError
    diff_frame = abs(df[dt_col][:-1].reset_index(drop=True) - df[dt_col][1:].reset_index(drop=True))
    return diff_frame.dt.total_seconds() if format == 'seconds' else diff_frame.dt.microseconds

In [8]:
videos_diff = pd.DataFrame([
    time_diff_next_frame(df_t1),
    time_diff_next_frame(df_t2)
] , index = ['video_1', 'video_2']).transpose()

display(videos_diff)

      video_1   video_2
0    0.027013  0.099005
1    0.029994  0.006996
2    0.029996  0.007003
3    0.003002  0.031010
4    0.027998  0.027985
..        ...       ...
199       NaN  0.003999
200       NaN  0.026995
201       NaN  0.032000
202       NaN  0.064003
203       NaN  0.033004

[204 rows x 2 columns]

In [9]:
videos_diff.describe()

          video_1     video_2
count  185.000000  204.000000
mean     0.032725    0.033550
std      0.007816    0.012001
min      0.003000    0.002990
25%      0.030988    0.030996
50%      0.031997    0.032000
75%      0.032997    0.033998
max      0.073994    0.099005

# find first frame between 2 video
if
- camera_1 start at 1 sec
- camera_2 start at 1.5 sec

`first_frame` between video is camera_2's 


<br>--------------------------------<br>

because only two camera started then we can sync their frame

In [10]:
def first_frame_between_videos(vid1_df, vid2_df, dt_col='datetime'):
    '''get latest first frame between videos'''
    vid1_dt = vid1_df[dt_col]
    vid2_dt = vid2_df[dt_col]

    vid1_first = vid1_dt.argmin()
    vid2_first = vid2_dt.argmin()

    return max(vid1_dt.iloc[vid1_first], vid2_dt.iloc[vid2_first]) 

        
first_frame_dt = first_frame_between_videos(df_t1, df_t2)
first_frame_dt

Timestamp('2022-02-17 12:47:36.906517')

# actual timestamp across video

In [11]:
FPS = 25
1/FPS

0.04

In [12]:
def add_interval(dt: datetime.datetime, fps=FPS):
    return dt + datetime.timedelta(seconds=1/FPS)

def cum_sum_interval(dt, num, fps=FPS):
    '''add the interval by fps since the first frame'''
    return [dt := add_interval(dt) for t in range(num)]
    
first_frame_dt, add_interval(first_frame_dt)

(Timestamp('2022-02-17 12:47:36.906517'),
 Timestamp('2022-02-17 12:47:36.946517'))

In [13]:
'''test generate actual share timestamp between videos'''

NUM = 5
pd.Series(cum_sum_interval(first_frame_dt, NUM))

0   2022-02-17 12:47:36.946517
1   2022-02-17 12:47:36.986517
2   2022-02-17 12:47:37.026517
3   2022-02-17 12:47:37.066517
4   2022-02-17 12:47:37.106517
dtype: datetime64[ns]

In [14]:
len(df_t1), len(df_t2)

(186, 205)

In [15]:

shared_video_len = min(len(df_t1), len(df_t1))   # shortest video len between videos
shared_timeline = pd.Series(cum_sum_interval(first_frame_dt, shared_video_len))
shared_timeline

0     2022-02-17 12:47:36.946517
1     2022-02-17 12:47:36.986517
2     2022-02-17 12:47:37.026517
3     2022-02-17 12:47:37.066517
4     2022-02-17 12:47:37.106517
                 ...
181   2022-02-17 12:47:44.186517
182   2022-02-17 12:47:44.226517
183   2022-02-17 12:47:44.266517
184   2022-02-17 12:47:44.306517
185   2022-02-17 12:47:44.346517
Length: 186, dtype: datetime64[ns]

# find real index by Offset between frames

In [16]:
OFFSET = 1/FPS - 0.001

print(f"1/FPS:  {1/FPS}")
print(f"OFFSET:  {OFFSET}")

1/FPS:  0.04
OFFSET:  0.039

In [17]:
preview_dt = pd.DataFrame([shared_timeline, df_t1['datetime'], df_t2['datetime']]).transpose()
preview_dt.columns = ['timeline', 'vid1_datetime', 'vid2_datetime']
preview_dt
#, columns=['timeline', 'vid1_datetime', 'vid2_datetime'])

,timeline,vid1_datetime,vid2_datetime
0,2022-02-17 12:47:36.946517,2022-02-17 12:47:36.906517,2022-02-17 12:47:36.672518
1,2022-02-17 12:47:36.986517,2022-02-17 12:47:36.933530,2022-02-17 12:47:36.771523
2,2022-02-17 12:47:37.026517,2022-02-17 12:47:36.963524,2022-02-17 12:47:36.778519
3,2022-02-17 12:47:37.066517,2022-02-17 12:47:36.993520,2022-02-17 12:47:36.785522
4,2022-02-17 12:47:37.106517,2022-02-17 12:47:36.996522,2022-02-17 12:47:36.816532
...,...,...,...
200,NaT,NaT,2022-02-17 12:47:43.360637
201,NaT,NaT,2022-02-17 12:47:43.387632
202,NaT,NaT,2022-02-17 12:47:43.419632
203,NaT,NaT,2022-02-17 12:47:43.483635
204,NaT,NaT,2022-02-17 12:47:43.516639